!
log file /var/log/quagga/quagga.log
service integrated-vtysh-config
!
<% @intvars['fabric'].each do |neighbor, data| -%>
interface <%= neighbor %>
 no ipv6 nd suppress-ra
 ipv6 nd ra-interval 3
!
<% end -%>
router bgp <%= @intvars['asn'] %>
    bgp router-id <%= @intvars['loopback']['ipv4'].split("/")[0] %>
    network <%= @intvars['loopback']['ipv4'] %>
<% @networks.each do |name, network| -%>
 <% if network['source'] == @hostname -%>
    network <%= name %>
 <% end -%>
<% end -%>
    maximum-paths 64
    bgp bestpath as-path multipath-relax
    bgp bestpath compare-routerid
    neighbor fabric peer-group
    neighbor fabric description Internal Fabric Network
    neighbor fabric advertisement-interval 0
    neighbor fabric timers 1 3
    neighbor fabric capability extended-nexthop
    neighbor fabric timers connect 3
    neighbor fabric remote-as external
<% @intvars['fabric'].each do |neighbor, data| -%>
    neighbor <%= neighbor %> interface
    neighbor <%= neighbor %> peer-group fabric
<% end -%>
!
  address-family ipv6
  network <%= @intvars['loopback']['ipv4'] %>
  neighbor fabric activate
<% @intvars['fabric'].each do |neighbor, data| -%>
  neighbor <%= neighbor %> peer-group fabric
<% end -%>


<% @networks.each_with_index do |network, index| -%>
 <% if network[1]['source'] != @hostname -%>
ip prefix-list dc-fabric-in seq <%= index*10 + 100 %> permit <%= network[0] %>
 <% end -%>
<% end -%>
ip prefix-list dc-fabric-in seq 500 deny any
ip prefix-list dc-fabric-out seq 10 permit 10.0.0.0/24 le 32
<% @networks.each_with_index do |network, index| -%>
 <% if not @intvars['advertises_network'] or network[1]['source'] == @hostname -%>
ip prefix-list dc-fabric-out seq <%= index*10 + 100 %> permit <%= network[0] %>
 <% end -%>
<% end -%>
ip prefix-list dc-fabric-out seq 500 deny any
!
