# /etc/network/interfaces template for switches (<%=@hostname%>)
# Created by Puppet

auto lo
iface lo inet loopback
  address <%=@intvars['loopback']['ipv4']%>

auto eth0
iface eth0 inet dhcp

<% @intvars['fabric'].each do |name, iface| -%>
auto <%=name%>
iface <%=name%>
    address <%=@intvars['loopback']['ipv4']%>

<% end %>


<% (@intvars['networks'] or []).each do |name, network| -%>
<% network['ports'].each do |port| -%>
auto <%= port %>
iface <%= port %>

<% end %>
auto <%= name %>
iface <%= name %>
    bridge-ports <%= network['ports'].join(' ') %>
    address <%= network['ip'] %>
<% end %>
